# - FIDECO M.2 NVME SATA SSD Gehäuse  (JMicron Technology Corp.)
ACTION=="add|change", ATTRS{idVendor}=="152d", ATTRS{idProduct}=="0562", SUBSYSTEM=="scsi_disk", ATTR{provisioning_mode}="unmap"
