---
- ansible.builtin.include_tasks: packages.yml

- ansible.builtin.include_tasks: linux/config-firefox.yml
  when: ansible_facts.os_family != 'Darwin' # TODO: REVISE

- name: Copy scripts
  block:
    - name: Copy Scripts
      ansible.builtin.template:
        src: "{{ script_file.src }}.j2"
        dest: "{{ script_file.dest_dir }}/{{ script_file.src }}"
        #owner: '{{ script_file.owner }}'
        #group: '{{ script_file.group }}'
        mode: 0755
      with_items:
        - src: "git-update_repos"
          dest_dir: "/{{ os_homedir }}/{{ user.name }}/.local/bin/"
      #owner: '{{ user.name }}'
      #group: '{{ user.group_name }}'
      loop_control:
        loop_var: script_file
  become: false
