# {{ ansible_managed }}
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ pihole.if }}:
        dhcp4: false
        addresses:
          - {{ pihole.ipv4 }}
          - {{ pihole.ipv6_ula }}   # Add unique local IPv6 addresses  (equivalent command (for adding IPv6 address): `sudo ip addr add {{ pihole.ipv6_ula }} dev {{ pihole.if }}`)
        nameservers:
          addresses: [{{ dns_servers|join(',') }}]
