# {{ ansible_managed }}
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ dns.iface }}:
        dhcp4: yes
        dhcp6: yes
        # Add "static" IPv6 address
        addresses:
          - {{ dns.ipv6_ula }}
        nameservers:
          addresses: [{{ dns_servers|join(',') }}]
