# {{ ansible_managed }}

version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  {{ container_name }}:
    hostname: {{ container_name }}
    container_name: {{ container_name }}
# TODO: `domainname` seems to prevent the WEB-UI from loading under Browsers on Windows  ??
#    domainname: {{ domainname }}
    image: pihole/pihole
    restart: always

    ports:
      - "{{ dns.ipv4 }}:53:53/udp"         # IP addr is required as Ubuntu uses the local DNS-server systemd-resolve  (SEE: https://github.com/sameersbn/docker-bind/issues/65)
      - "{{ dns.ipv4 }}:53:53/tcp"
      - "{{ dns.ipv6_ula[:-3] }}:53:53/udp"
      - "{{ dns.ipv6_ula[:-3] }}:53:53/tcp"
      # 67 = DHCP  (-> TODO: could be uncommented  ???)
      - "{{ dns.ipv4 }}:67:67/udp"
      - "{{ dns.ipv6_ula[:-3] }}:67:67/udp"
{% if 'home_servers' not in group_names %}
      # Admin-interface  (ports not necessary since we use reverse proxy)
      - 80:80/tcp
      - 443:443/tcp
{% endif %}

    # See: https://github.com/pi-hole/docker-pi-hole#environment-variables
    environment:
      TZ: {{ timezone }}

      PIHOLE_DNS_: {{ dns_servers|join(';') }}

      DNSMASQ_LISTENING: "single"
      INTERFACE: "eth0"

      WEBPASSWORD: {{ pihole.web_pw }}

      IPv6: "true"

      PROXY_LOCATION: {{ container_name }}
      VIRTUAL_HOST: {{ container_name }}.{{ domainname }}
      VIRTUAL_PORT: 80

{% if pihole.conditional_forwarding_enabled is defined and pihole.conditional_forwarding_enabled %}
      REV_SERVER: "true"                              # Makes only sense when pihole isn't acting as DHCP server
      REV_SERVER_TARGET: {{ pihole.router_ip }}
      REV_SERVER_DOMAIN: {{ pihole.router_domain }}
      REV_SERVER_CIDR: {{ pihole.router_reverse_dns_zone }}
{% endif %}

    # Volumes store your data between container upgrades
    volumes:
       - {{ pihole_data_dir }}/hole/:/etc/pihole/
       - {{ pihole_data_dir }}/dns/:/etc/dnsmasq.d/

    networks:
      - {{ docker_default_network }}

    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.centurylinklabs.watchtower.monitor-only=true
{% if 'home_servers' in group_names %}
      - traefik.enable=true
      - traefik.http.services.{{ container_name }}_service.loadbalancer.server.port=80
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`{{ container_name }}.{{ domainname }}`)
{% endif %}
