// {{ ansible_managed }}
// USAGE: Create file `.stignore` w/ contents: `#include {{ syncthing_global_conf_file_target_dir }}/.stglobalignore`
.svn
*.svn
*.crdownload
*.part
*~
.*.swp
*.swp
*.log
target
build
pyvenv
__pycache__
*.py[codz]
*$py.class
.pdm-python
.pdm-build
.env
.envrc
.venv
.mypy_cache
.dmypy.json
dmypy.json
.ruff_cache
LOST.DIR
*.Cache
*CACHE*
*cache*
.sync
*S*Conflict*
*s*conflict*
*.lock
.~lock.
*.sqlite*
*.wal
*inaccessible*
.#*
.Prullenbak
.Shared
.[Tt]rash*
Trash*
trash
.escheck.tmp
.local/share/trash
.thumbnails
asset-cache
captcha_tmp
tmp_uploads
*Temporary*
*.tmp
TEMP
Temp
a_writable
checkouts
data/searchIndex
files_trashbin
forms.json
nobackup
searchIndex
staging.*
templates_c
thumbnails
~$*
*.sync
*.bts
*.!Sync
.SyncID
.SyncIgnore
.SyncArchive
*.SyncPart
*.SyncTemp
*.SyncOld
.stignore
.stfolder
@eaDir
(?d)*.*.sw[a-p]
*.shm
*.bak
*.old
lost+found
.gvfs
(?d).DS_Store
.AppleDouble
.LSOverride
._*
(?d).DocumentRevisions-V100
.fseventsd
(?d).AppleDB
(?d).AppleDesktop
(?d).Spotlight-V100
(?d).Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.localized
.AppleDB
.AppleDesktop
Network Trash Folder
.TemporaryItems
.apdisk
*.icloud
$WINDOWS.~BT
System*Volume*
pagefile.sys
(?d)Thumbs.db
(?d)Thumbs.db:encryptable
(?d)ehthumbs.db
(?d)ehthumbs_vista.db
*.stackdump
(?d)[Dd]esktop.ini
*.lnk
(?d)~*
$RECYCLE.BIN
