version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  {{ container_name }}:
    hostname: {{ container_name }}
    container_name: {{ container_name }}
    domainname: {{ domainname }}
    image: pihole/pihole:{{ pihole_docker_tag }}
    restart: always

    ports:
      - 53:53/tcp
      - 53:53/udp
      # 67 = DHCP -> could be uncommented ???
      - 67:67/udp
      # Backdoor for Admin-interface (bypassing traefik)
      # 8053:80/tcp

    # See: https://github.com/pi-hole/docker-pi-hole#environment-variables
    environment:
      PIHOLE_UID: {{ user_uid }}
      WEB_UID: {{ user_gid }}
      PIHOLE_GID: {{ user_uid }}
      WEB_GID: {{ user_gid }}

      TZ: {{ timezone }}
      PIHOLE_DNS_: {{ pihole_dns_server_1 }};{{ pihole_dns_server_2 }}
      WEBPASSWORD: {{ pihole_web_pw }}

      IPv6: "true"

      PROXY_LOCATION: {{ container_name }}
      VIRTUAL_HOST: {{ container_name }}.{{ domainname }}
      VIRTUAL_PORT: 80

    # Volumes store your data between container upgrades
    volumes:
       - {{ docker_container_data_basedir }}/{{ container_name }}/hole/:/etc/pihole/
       - {{ docker_container_data_basedir }}/{{ container_name }}/dns/:/etc/dnsmasq.d/

    networks:
      - {{ docker_default_network }}

    dns:
      - {{ pihole_dns_server_1 }}
      - {{ pihole_dns_server_2 }}
      #- 127.0.0.1

    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN


    labels:
      - com.centurylinklabs.watchtower.enable=false
      - traefik.enable=true
      - traefik.http.services.{{ container_name }}_service.loadbalancer.server.port=80
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`{{ container_name }}.{{ domainname }}`)
