version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

services:
  {{ container_name }}:
    image: containrrr/watchtower
    hostname: {{ container_name }}
    container_name: {{ container_name }}

    restart: always

    user: {{ user_uid }}:{{ docker_gid }}


    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    networks:
      - {{ docker_default_network }}

    environment:
      - TZ={{ timezone }}

      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true                            # Filter by enable label

{% if notifications_mail_config is defined %}
      #- WATCHTOWER_NO_STARTUP_MESSAGE=true
      # - Emailing
      - WATCHTOWER_NOTIFICATIONS=email
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER={{ notifications_mail_config.smtp_host }}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT={{ notifications_mail_config.smtp_port }}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER={{ notifications_mail_config.smtp_username }}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD={{ notifications_mail_config.smtp_password }}
      - WATCHTOWER_NOTIFICATION_EMAIL_FROM={{ notifications_mail_config.smtp_username }}
      - WATCHTOWER_NOTIFICATION_EMAIL_TO={{ notifications_mail_config.system_admin_mail }}
      #- WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG={{ inventory_hostname }}
{% endif %}

      # - WATCHTOWER_SCHEDULE="{{ cron_schedule }}"

    command: --schedule "{{ cron_schedule }}"                   # TESTING: `--run-once`
