version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

services:
  {{ container_name }}:
    image: containrrr/watchtower:latest
    hostname: {{ container_name }}
    container_name: {{ container_name }}

    restart: always

    user: {{ user_uid }}:{{ docker_gid }}


    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # Docker login
      #- ${HOME}/.docker/config.json:/config.json

    networks:
      - {{ docker_default_network }}

    environment:
      - TZ={{ timezone }}
      - WATCHTOWER_CLEANUP=true
      # - WATCHTOWER_SCHEDULE="0 4 * * * SUN"
      # Filter by enable label
      - WATCHTOWER_LABEL_ENABLE=true
{% if notifications_mail_config is defined %}
      - WATCHTOWER_NOTIFICATIONS=email
      # - Emailing
      - 'WATCHTOWER_NOTIFICATION_EMAIL_SERVER={{ smtp_host }}'
      - 'WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT={{ smtp_port }}'
      - 'WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER={{ smtp_username }}'
      - 'WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD={{ smtp_password }}'
      - 'WATCHTOWER_NOTIFICATION_EMAIL_FROM={{ smtp_username }}'
      - 'WATCHTOWER_NOTIFICATION_EMAIL_TO={{ system_admin_mail }}'
      - 'WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG={{ inventory_hostname }} maintenance'
{% endif %}

    # command: --run-once
    command: --schedule "0 4 * * * SUN"
