# {{ ansible_managed }}

version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

services:
  {{ container_name }}:
    image: containrrr/watchtower
    hostname: {{ container_name }}
    container_name: {{ container_name }}

    restart: always

    user: {{ www_user_uid }}:{{ www_user_gid }}
    security_opt:
      - no-new-privileges:true


    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    networks:
      - {{ docker_default_network }}

    environment:
      - TZ={{ timezone }}

      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true                            # Filter by enable label

{% if notifications_mail is defined %}
      - WATCHTOWER_NO_STARTUP_MESSAGE=true
      # - Emailing
      - WATCHTOWER_NOTIFICATIONS=email
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER={{ notifications_mail.smtp_host }}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT={{ notifications_mail.smtp_port }}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER={{ notifications_mail.smtp_username }}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD={{ notifications_mail.smtp_password }}
      - WATCHTOWER_NOTIFICATION_EMAIL_FROM={{ notifications_mail.smtp_username }}
      - WATCHTOWER_NOTIFICATION_EMAIL_TO={{ notifications_mail.system_admin_mail }}
      #- WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG={{ inventory_hostname }}
{% endif %}

      # - WATCHTOWER_SCHEDULE="{{ watchtower_cron_schedule }}"

    command: --schedule "{{ watchtower_cron_schedule }}"                   # TESTING: `--run-once`
