---
{{ ansible_managed|comment }}
version: '3.7'

services:
  # >>  Reference: https://hub.docker.com/r/dperson/samba  //  https://github.com/dperson/samba  <<
  {{ container.name }}:
    image: quay.io/unixfox/samba
    container_name: {{ container.name }}
    restart: unless-stopped
    hostname: {{ container.name }}

    network_mode: bridge

    ports:
{% if samba.advertise_shares is defined and samba.advertise_shares %}
      # netbios-ns – 137/tcp # NETBIOS Name Service
      - 137:137/udp
      # netbios-dgm – 138/tcp # NETBIOS Datagram Service
      - 138:138/udp
{% endif %}
      # netbios-ssn – 139/tcp # NETBIOS session service
      - 139:139/tcp
      # microsoft-ds – 445/tcp # if you are using Active Directory
      - 445:445/tcp

#    user: {{ www_user.uid }}:{{ www_user.gid }}
    security_opt:
      - no-new-privileges:true

    volumes:
{% for share in samba.shares %}
{% for bind_mount in share.bind_mounts %}
      - {{ bind_mount }}
{% endfor %}
{% endfor %}

    # `-r` = Disable recycle bin for shares
    # `-n` = Start the 'nmbd' daemon to advertise the shares
    # `-s`syntax: "<name;/path>[;browsable;readonly;guest;users;admins;writelist;comment]"
    command: >
      -r
{% if samba.advertise_shares is defined and samba.advertise_shares %}
      -n
{% endif %}
      -w "{{ domainname }}"
{% for user in samba.users %}
      -u "{{ user.name }};{{ user.pass }}"
{% endfor %}
{% for share in samba.shares %}
      -s "{{ share.name }};{{ share.path }};{{ share.browsable }};{{ share.readonly }};{{ share.guest }};{{ share.users|join(',') }};none;;"
{% endfor %}

    environment:
      - TZ={{ timezone }}
      - USERID={{ www_user.uid }}
      - GROUPID={{ www_user.gid }}
      # Allow following symlinks   (INSECURE !!  Allows attackers to create symlink to every directory on server's fs)
      - WIDELINKS=False

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=false
