{{ ansible_managed|comment }}
## --- Default TLS certificate
#tls:
#  stores:
#    default:
#      defaultCertificate:
#        certFile: /config/certs/traefik.pem
#        keyFile: /config/certs/traefik.key


# --- HTTP middlewares
http:
  middlewares:
    # - Security headers
    securityHeaders:
      headers:
        frameDeny: true
        stsSeconds: 15552000
        stsIncludeSubdomains: true
        stsPreload: true


# - BasicAuth
#    globalAuth:
#      basicAuth:
#       realm: {{ domainname }}
#       usersFile: /config/.htpasswd
#       removeHeader: true
