---
# {{ ansible_managed }}

version: '3.7'

networks:
  {{ reverse_proxy_docker_network }}:
    external: true

services:
  {{ container.name }}:
    image: vaultwarden/server
    container_name: {{ container.name }}
    restart: unless-stopped

    user: {{ www_user.uid }}:{{ www_user.gid }}
    security_opt:
      - no-new-privileges:true

    # REFERENCE: https://github.com/dani-garcia/vaultwarden/blob/main/.env.template
    environment:
      - TZ={{ timezone }}

      # --- General
      - DATA_FOLDER=/data
      - DATABASE_URL=/data/db.sqlite3
      - WEBSOCKET_ENABLED=true
      - SIGNUPS_ALLOWED={{ bitwarden_signups_allowed | default('false', true) }}
      - SIGNUPS_VERIFY={{ 'true' if notifications_mail is defined else 'false' }}
      - DOMAIN=https://{{ container.name }}.{{ domainname }}

{% if notifications_mail is defined %}
      # --- Emailing
      - SMTP_HOST={{ notifications_mail.smtp_host }}
      - SMTP_FROM={{ notifications_mail.smtp_username }}
      - SMTP_FROM_NAME=Bitwarden_RS
      - SMTP_PORT={{ notifications_mail.smtp_port }}
      # NOTE: ("starttls", "force_tls", "off") Enable a secure connection. Default is "starttls" (Explicit - ports 587 or 25), "force_tls" (Implicit - port 465) or "off", no encryption (port 25)
      - SMTP_SECURITY={{ notifications_mail.smtp_enc }}
      - SMTP_USERNAME={{ notifications_mail.smtp_username }}
      - SMTP_PASSWORD={{ notifications_mail.smtp_password }}
      - SMTP_TIMEOUT=15
{% endif %}

    volumes:
      - {{ docker_container.data_basedir }}/{{ container.name }}/:/data

    networks:
      - {{ reverse_proxy_docker_network }}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      # UI & Websocket 4 msges
      - traefik.http.services.{{ container.name }}-ui_service.loadbalancer.server.port=80
      - traefik.http.routers.{{ container.name }}-ui_router.service={{ container.name }}-ui_service
      - traefik.http.routers.{{ container.name }}-ui_router.rule=Host(`{{ container.name }}.{{ domainname }}`)
      - traefik.http.services.{{ container.name }}-ws_service.loadbalancer.server.port=3012
      - traefik.http.routers.{{ container.name }}-ws_router.service={{ container.name }}-ws_service
      - traefik.http.routers.{{ container.name }}-ws_router.rule=Host(`{{ container.name }}.{{ domainname }}`) && Path(`/notifications/hub`)
