---
# {{ ansible_managed }}

version: "3.7"

networks:
  {{ reverse_proxy_docker_network }}:
    external: true

services:
  {{ container.name }}:
    image: filebrowser/filebrowser
    container_name: {{ container.name }}
    restart: unless-stopped

    user: {{ www_user.uid }}:{{ www_user.gid }}
    security_opt:
      - no-new-privileges:true

    networks:
      - {{ reverse_proxy_docker_network }}

    volumes:
      - ./settings.json:/.filebrowser.json
      - {{ docker_container.data_basedir }}/{{ container.name }}/:/var/filebrowser-data
      - {{ docker_container.data_basedir }}/{{ container.name }}/:/srv/

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.routers.{{ container.name }}_router.rule=Host(`files.{{ domainname }}`)
