---
# {{ ansible_managed }}

version: '3.7'

services:
  {{ container.name }}:
    image: nginxdemos/hello:latest
    container_name: {{ container.name }}
    restart: "no"

    #user: {{ www_user.uid }}:{{ www_user.gid }}
    # $$$ Required for binding to TCP/UDP sockets below 1024 (aka 'privileged ports') -> cap_add doesn't seem to work -> use sysctl instead… $$$
    #sysctls:
    #  - net.ipv4.ip_unprivileged_port_start=0

    ports:
      - '{{ host_port if host_port is defined else 8080 }}:80'

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.centurylinklabs.watchtower.monitor-only=true
      - traefik.enable=false
