---
# {{ ansible_managed }}

version: '3.7'

services:
  # Equivalent command: `docker run -d -u {{ www_user.uid }} -p {{ container_port }}:{{ container_port }} --restart=on-failure:5 --name {{ container.name }} {{ container_image }}`
  {{ container.name }}:
    image: {{ container.image }}

    container_name: {{ container.name }}
    restart: unless-stopped

    user: {{ www_user.uid }}:{{ www_user.gid }}
    security_opt:
      - no-new-privileges:true

    network_mode: bridge
    ports:
      - {{ volact.port }}:{{ volact.port }}/tcp

    volumes:
      - /etc/localtime:/etc/localtime:ro

    logging:
      driver: none

