---
- name: Install packages
  block:
    - name: Install audio apps # TODO: Mv in `client_media` role
      block:
        - name: "[Darwin] Install homebrew packages" # TODO: Add `flatpak` counterparts 4 linux & check whether VM
          community.general.homebrew_cask:
            name: "{{ homebrew_cask }}"
            state: latest
          with_items:
            # Media
            #- mediahuman-audio-converter
            #- musicbrainz-picard
            - ocenaudio
            #- xld                                              # TODO
            #- mediainfo
          loop_control:
            loop_var: homebrew_cask
        - name: "[Darwin]"
          ansible.builtin.package:
            name:
              - spek # No cask, despite being an UI app  -> opened via `spek`
      become: false
      when: ansible_facts.os_family == 'Darwin'

    - name: Install pictures apps
      block:
        - name: "[Darwin] Install homebrew packages" # TODO: Add `flatpak` counterparts 4 linux & check whether VM
          community.general.homebrew_cask:
            name: "{{ homebrew_cask }}"
            state: latest
          with_items:
            # Media
            - digikam
              #sudo_password: "{{ ansible_become_pass }}"   TODO: Doesn't work when not passwordless: https://github.com/ansible-collections/community.general/issues/4957
          loop_control:
            loop_var: homebrew_cask
          become: false
          when: ansible_facts.os_family == 'Darwin'

    - name: Install design apps
      block:
        - name: "[Darwin] Install homebrew packages" # TODO: Add flatpak counterparts 4 linux & check whether VMF
          community.general.homebrew_cask:
            name: "{{ homebrew_cask }}"
            state: latest
          with_items:
            # Design
            #- inkscape
            - paintbrush
            - imageoptim
          loop_control:
            loop_var: homebrew_cask
          become: false
          when: ansible_facts.os_family == 'Darwin'

    - name: Install note taking apps
      block:
        - name: "[Darwin] Install homebrew packages" # TODO: Add flatpak counterparts 4 linux & check whether VM
          community.general.homebrew_cask:
            name: "{{ homebrew_cask }}"
            state: latest
          with_items:
            # Notes
            #- fsnotes
            - joplin
          loop_control:
            loop_var: homebrew_cask
          become: false
          when: ansible_facts.os_family == 'Darwin'

    - name: Install social stuff
      block:
        - name: "[Darwin] Install homebrew packages" # TODO: Add flatpak counterparts 4 linux & check whether VM
          community.general.homebrew_cask:
            name: "{{ homebrew_cask }}"
            state: latest
          with_items:
            # Social
            - netnewswire
            # TODO: 'textual'  (IRC client)
          loop_control:
            loop_var: homebrew_cask
          become: false
          when: ansible_facts.os_family == 'Darwin'

    - name: 'Install "inet" tools'
      block:
        - name: "[Darwin] Install homebrew packages" # TODO: Add flatpak counterparts 4 linux & check whether VM
          community.general.homebrew_cask:
            name: "{{ homebrew_cask }}"
            state: latest
          with_items:
            # Internet/Tools
            - cyberduck
            - qbittorrent
            - rustdesk
          loop_control:
            loop_var: homebrew_cask
          become: false
          when: ansible_facts.os_family == 'Darwin'

    - name: Install misc. tools
      block:
        - name: "[Darwin] Install homebrew packages" # TODO: Add flatpak counterparts 4 linux & check whether VM
          community.general.homebrew_cask:
            name: "{{ homebrew_cask }}"
            state: latest
          with_items:
            # Misc
            - keycastr
          loop_control:
            loop_var: homebrew_cask
          become: false
          when: ansible_facts.os_family == 'Darwin'

    - name: Install Latex
      ansible.builtin.include_tasks: package-latex.yml
      when: install_latex == True

- name: '[Darwin] Install "additional" apps' # TODO: Add flatpak counterparts 4 linux & check whether VM
  community.general.homebrew_cask:
    name: "{{ homebrew_cask }}"
    state: latest
  with_items:
    - raycast
    - bitwarden
    # Office
    - pdf-expert
    #- softmaker-freeoffice
    ##sudo_password: "{{ ansible_become_pass }}"   TODO: Doesn't work when not passwordless: https://github.com/ansible-collections/community.general/issues/4957
    # Privacy
    - little-snitch
    # Internet/Services
    - eddie
    # Social
    - signal
    - discord
  loop_control:
    loop_var: homebrew_cask
  become: false
  when: ansible_facts.os_family == 'Darwin' and install_additional == true

- name: "Apps: config"
  block:
    - name: Config syncthing
      block:
        - name: Set variables (as facts)
          ansible.builtin.set_fact:
            syncthing_global_conf_file_target_dir: "/{{ os_homedir }}/{{ user.name }}/"
        - name: Copy config file
          ansible.builtin.template:
            src: stglobalignore.j2
            dest: "{{ syncthing_global_conf_file_target_dir }}/.stglobalignore"
            mode: 0640
          become: false

    - name: Config Joplin
      block:
        - name: Create dir
          ansible.builtin.file:
            path: "/{{ os_homedir }}/{{ user.name }}/.config/joplin-desktop"
            state: directory
            owner: "{{ user.name }}"
            group: "{{ user.group_name }}"
            mode: 0755
        - name: Copy config
          ansible.builtin.template:
            src: apps/joplin.css.j2
            dest: "/{{ os_homedir }}/{{ user.name }}/.config/joplin-desktop/userstyle.css"
            mode: 0755
  become: false
