---
- name: Install packages
  block:
    - name: Install audio apps # TODO: Mv in `client_media` role
      block:
        - name: "[Darwin] Install homebrew packages"
          ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
          vars:
            packages_homebrew_casks: # TODO: Add `flatpak` counterparts 4 linux & check whether VM
              - # Media
                packages:
                  #- mediahuman-audio-converter
                  #- musicbrainz-picard
                  - ocenaudio
                  #- xld                                              # TODO
                  #- mediainfo
        - name: "[Darwin]"
          ansible.builtin.package:
            name:
              - spek # No cask, despite being an UI app  -> opened via `spek`
          when: ansible_facts.os_family == 'Darwin'

    - name: Install pictures apps
      block:
        - name: "[Darwin] Install homebrew packages"
          ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
          vars:
            packages_homebrew_casks: # TODO: Add `flatpak` counterparts 4 linux & check whether VM
              - # Media
                packages:
                  - digikam
                  #sudo_password: "{{ ansible_become_pass }}"   TODO: Doesn't work when not passwordless: https://github.com/ansible-collections/community.general/issues/4957

    - name: Install design apps
      block:
        - name: "[Darwin] Install homebrew packages"
          ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
          vars:
            packages_homebrew_casks: # TODO: Add flatpak counterparts 4 linux & check whether VM
              - # Design
                packages:
                  #- inkscape
                  - paintbrush
                  - imageoptim

    - name: Install note taking apps
      block:
        - name: "[Darwin] Install homebrew packages"
          ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
          vars:
            packages_homebrew_casks: # TODO: Add flatpak counterparts 4 linux & check whether VM
              - # Notes
                packages:
                  #- fsnotes
                  - joplin

    #- name: Install streaming apps      # TODO: Mv in `client_media` role
    #  block:
    #    - name: '[Darwin] Install homebrew packages'
    #      ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
    #      vars:
    #        packages_homebrew_casks:         # TODO: Add flatpak counterparts 4 linux & check whether VM
    #          - Music
    #            packages: ['spotify']                                  # TODO:

    - name: Install social stuff
      block:
        - name: "[Darwin] Install homebrew packages"
          ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
          vars:
            packages_homebrew_casks: # TODO: Add flatpak counterparts 4 linux & check whether VM
              - # Social
                packages:
                  - netnewswire
                  # TODO: 'textual'  (IRC client)

    - name: 'Install "inet" tools'
      block:
        - name: "[Darwin] Install homebrew packages"
          ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
          vars:
            packages_homebrew_casks: # TODO: Add flatpak counterparts 4 linux & check whether VM
              - # Internet/Tools
                packages:
                  - cyberduck
                  - qbittorrent
                  - rustdesk

    - name: Install misc. tools
      block:
        - name: "[Darwin] Install homebrew packages"
          ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
          vars:
            packages_homebrew_casks: # TODO: Add flatpak counterparts 4 linux & check whether VM
              - # Misc
                packages:
                  - keycastr
                  - bitwarden

    - name: Install Latex
      ansible.builtin.include_tasks: package-latex.yml
      when: install_latex == True

- name: 'Install "additional" apps'
  block:
    - name: "[Darwin] Install homebrew packages"
      ansible.builtin.include_tasks: ../../base/tasks/darwin/homebrew_casks.yml
      vars:
        packages_homebrew_casks: # TODO: Add flatpak counterparts 4 linux & check whether VM
          packages: "{{ overridable_apps }}"

- name: "Apps: config"
  block:
    - name: Config syncthing
      block:
        - name: Set variables (as facts)
          ansible.builtin.set_fact:
            syncthing_global_conf_file_target_dir: "/{{ os_homedir }}/{{ user.name }}/"
        - name: Copy config file
          ansible.builtin.template:
            src: stglobalignore.j2
            dest: "{{ syncthing_global_conf_file_target_dir }}/.stglobalignore"
            mode: 0640
          become: false

    - name: Config Joplin
      block:
        - name: Create dir
          ansible.builtin.file:
            path: "/{{ os_homedir }}/{{ user.name }}/.config/joplin-desktop"
            state: directory
            owner: "{{ user.name }}"
            group: "{{ user.group_name }}"
            mode: 0755
        - name: Copy config
          ansible.builtin.template:
            src: apps/joplin.css.j2
            dest: "/{{ os_homedir }}/{{ user.name }}/.config/joplin-desktop/userstyle.css"
            mode: 0755
  become: false
