# {{ ansible_managed }}

version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

services:
  {{ container_name }}:
    image: portainer/portainer-ce
    container_name: portainer
    restart: always

    # user: {{ user_uid }}:{{ docker_gid }}

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ docker_container_data_basedir }}/{{ container_name }}/:/data
      - /etc/localtime:/etc/localtime:ro

#    environment:
#      - TZ='{{ timezone }}'

    networks:
      - {{ docker_default_network }}

    labels:
     # Watchtower
      - com.centurylinklabs.watchtower.enable=true

     # Taefik
      - traefik.enable=true
      - traefik.http.services.{{ container_name }}_service.loadbalancer.server.port=9000
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`{{ container_name }}.{{ domainname }}`)
