---
# {{ ansible_managed }}

version: "3.7"

networks:
  {{ reverse_proxy_docker_network }}:
    external: true

services:
  {{ container_name }}:
    image: portainer/portainer-ce
    container_name: portainer
    restart: always

    user: {{ www_user_uid }}:{{ www_user_gid }}
    security_opt:
      - no-new-privileges:true

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ docker_container.data_basedir }}/{{ container_name }}/:/data
      - /etc/localtime:/etc/localtime:ro

    networks:
      - {{ reverse_proxy_docker_network }}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.services.{{ container_name }}_service.loadbalancer.server.port=9000
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`{{ container_name }}.{{ domainname }}`)
