version: '3.7'

networks:
  default:

services:
  # >>  Reference: https://hub.docker.com/r/dperson/samba  <<
  {{ container_name }}:
    image: dperson/samba:latest
    container_name: {{ container_name }}
    restart: "no"
    hostname: {{ domainname }}

    # $$$  DOESN'T WORK  $$$
    #user: {{ user_uid }}:{{ docker_gid }}

    #network_mode: host
    networks:
      - default
    ports:
      # netbios-ns – 137/tcp # NETBIOS Name Service
      - "137:137/udp"
      # netbios-dgm – 138/tcp # NETBIOS Datagram Service
      - "138:138/udp"
      # netbios-ssn – 139/tcp # NETBIOS session service
      - "139:139/tcp"
      # microsoft-ds – 445/tcp # if you are using Active Directory
      - "445:445/tcp"

    volumes:
      - "{{ path_shared_share }}:/mnt/share/shared"
      - "{{ path_own_share }}:/mnt/share/private"

    # -- Directories: -s "<name;/path>[;browse;readonly;guest;users;admins;writelist;comment]" --
    # -n -> Start the 'nmbd' daemon to advertise the shares
    # -p -> Set ownership and permissions on the shares
    command: >
      -r
      -w "{{ domainname }}"
      -u "{{ own_user_name }};{{ own_user_pw }}"
      -u "{{ shared_user_name }};{{ shared_user_pw }}"
      -s shared;/mnt/share/shared;yes;no;no;all;none;;comment1
      -s private;/mnt/share/private;yes;no;no;{{ own_user_name }};none;;comment1

    environment:
      - TZ={{ timezone }}
      - USERID={{ user_uid }}
      - GROUPID={{ user_gid }}
      # Allow following symlinks
      - WIDELINKS={{ follow_symlinks }}


    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=false"
