#!/usr/bin/env bash

{{ ansible_managed|comment }}
###
# Updates all git-repos in passed folders
##

#                    passed CLI args  OR     (if nothing was passed) cwd
base_dirs=$([[ -n "$@" ]] && echo $@ || echo "$(pwd)")     # ( NOTE: requires double brackets otherwise 'expected binary expression' (see https://stackoverflow.com/a/26712360) )

for base_dir in $base_dirs; do
    echo -e "\n\033[1mRecursively pulling latest changes 4 repos under '$base_dir':\033[0m"
    pushd . > /dev/null
    cd "$base_dir"  || exit

    # Find all git repos recursively and update it 2 the latest revision
    find . -type d -name ".git" -prune -print0  2> /dev/null |
    while IFS= read -r -d '' git_dir; do
        echo -e "\n\033[33m$(echo "$git_dir" | sed 's/\/\.git$//')\033[0m:";

        pushd . > /dev/null         # !! Must be `pushd` (user could've entered relative stuff like `.` or `..`) !!
        cd "$git_dir"  || exit
        cd ..  || exit

        git pull #origin master

        # lets go back
        popd  > /dev/null  || exit
    done

    echo -e "\n\033[32mFinished '$base_dir'!\033[0m\n"
    popd > /dev/null  || exit
done
