---
# {{ ansible_managed }}

version: '3.7'

networks:
  {{ reverse_proxy_docker_network }}:
    external: true

services:
  {{ container_name }}:
    image: lscr.io/linuxserver/freshrss:latest
    container_name: {{ container_name }}
    restart: unless-stopped

#    user: {{ www_user_uid }}:{{ www_user_gid }}
    security_opt:
      - no-new-privileges:true

    volumes:
      - {{ docker_container.data_basedir }}/{{ container_name }}/:/config/

    environment:
      - TZ={{ timezone }}
      - PUID={{ www_user_uid }}
      - PGID={{ www_user_gid }}

    networks:
      - {{ reverse_proxy_docker_network }}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.services.{{ container_name }}_service.loadbalancer.server.port=80
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`{{ container_name }}.{{ domainname }}`)
