version: '3.7'

services:
  # >>  Reference: https://hub.docker.com/r/dperson/samba  <<
  {{ container_name }}:
    container_name: {{ container_name }}
    restart: "no"
    image: dperson/samba:latest
    network_mode: host
    hostname: {{ domainname }}


    # $$$  DOESN'T WORK  $$$
    #user: {{ user_uid }}:{{ docker_gid }}

    ports:
      # 'nmbd' daemon to advertise the shares
      #- 139:139
      - 445:445

    volumes:
      - {{ path_shared_share }}:/mnt/share/shared"
      - {{ path_own_share }}:/mnt/share/private"

    # -- Directories: -s "<name;/path>[;browse;readonly;guest;users;admins;writelist;comment]" --
    # -n -> Start the 'nmbd' daemon to advertise the shares
    # -p -> Set ownership and permissions on the shares
    command: >
      -r
      -w "{{ domainname }}"
      -u "{{ own_user_name }};{{ own_user_pw }}"
      -u "{{ shared_user_name }};{{ shared_user_pw }}"
      -s shared;/mnt/share/shared;yes;no;no;all;none;;comment1
      -s private;/mnt/share/private;yes;no;no;gary;none;;comment1

    environment:
      - "TZ=${TZ}"
      # Allow following symlinks
      #- "WIDELINKS=True"


    labels:
     # Traefik
      - "traefik.enable=false"
     # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"
