version: '3.7'

services:
  # >>  Reference: https://hub.docker.com/r/dperson/samba  //  https://github.com/dperson/samba  <<
  {{ container_name }}:
    image: {{ container_image }}
    container_name: {{ container_name }}
    restart: "no"
    hostname: {{ hostname }}

    # $$$  DOESN'T WORK  $$$
    #user: {{ user_uid }}:{{ docker_gid }}

    network_mode: bridge
    ports:
{% if advertise_shares %}
      # netbios-ns – 137/tcp # NETBIOS Name Service
      - 137:137/udp
      # netbios-dgm – 138/tcp # NETBIOS Datagram Service
      - 138:138/udp
{% endif %}
      # netbios-ssn – 139/tcp # NETBIOS session service
      - 139:139/tcp
      # microsoft-ds – 445/tcp # if you are using Active Directory
      - 445:445/tcp

    volumes:
      - "{{ samba_path_shared_share }}:/mnt/share/public"
      - "{{ samba_path_own_share }}:/mnt/share/private"
      - "{{ samba_transmission_downloads_dir }}:/mnt/share/private/storage/downloads/torrents"

    # `-r` = Disable recycle bin for shares
    # `-n` = Start the 'nmbd' daemon to advertise the shares
    # `-s`syntax: "<name;/path>[;browsable;readonly;guest;users;admins;writelist;comment]"
    command: >
      -r
{% if advertise_shares %}
      -n
{% endif %}
      -w "{{ domainname }}"
      -u "{{ samba_own_user_name }};{{ samba_own_user_pw }}"
      -u "{{ samba_shared_user_name }};{{ samba_shared_user_pw }}"
      -s "shared;/mnt/share/public;yes;no;no;all;none;;Public share"
      -s "private;/mnt/share/private;no;no;no;{{ samba_own_user_name }};none;;Private share"

    environment:
      - TZ={{ timezone }}
      - USERID={{ user_uid }}
      - GROUPID={{ user_gid }}
      # Allow following symlinks
      - WIDELINKS={{ follow_symlinks }}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=false
