---
- ansible.builtin.import_tasks: packages.yml

# Ensure there's always a running `ssh-agent` instance  (so we don't have 2 `eval $(ssh-agent)`)
- name: SSH key agent service
  block:
    - name: Ensure systemd user-defined units dir exists
      ansible.builtin.file:
        path: "/{{ os_homedir }}/{{ user.name }}/.config/systemd/user/"
        owner: "{{ user.name }}"
        group: "{{ user.group_name }}"
        state: directory
        mode: 0755
    - name: Add systemd service
      ansible.builtin.template:
        src: linux/systemd-ssh-agent.service.j2
        dest: "/{{ os_homedir }}/{{ user.name }}/.config/systemd/user/ssh-agent.service"
        force: true
        mode: 0644
    - name: Enable service
      # ( NOTE: VERIFY: `systemctl --user status ssh-agent` )
      ansible.builtin.systemd_service:
        scope: user
        name: ssh-agent
        state: started
        enabled: true
  when: ansible_facts.os_family == 'Debian'
  become: false
