---
- name: Install G00g13 bazel
  block:
    - name: "[Ubuntu/Debian]"
      block:
        - name: bazel - Install dependencies
          ansible.builtin.apt:
            update_cache: true
            name:
              - apt-transport-https
              - curl
              - gnupg

        - name: bazel - Add apt signing key & repo
          ansible.builtin.deb822_repository:
            name: bazel
            uris: https://storage.googleapis.com/bazel-apt
            suites: stable
            components: jdk1.8
            signed_by: https://bazel.build/bazel-release.pub.gpg
          register: bazel_repo_added

        - name: bazel - Update apt cache
          ansible.builtin.apt:
            update_cache: true
          when: bazel_repo_added.changed == True
      become: true
      when:
        - ansible_facts.os_family != 'Darwin'

    - name: Install it
      ansible.builtin.package:
        name: bazel
      become: "{{ package_manager_become }}"
  when:
    - not (ansible_facts.os_family != 'Darwin'  and  ansible_facts.architecture != 'x86_64') # $$$$$$$$$$$$$$$$$ TODO: RMV ONCE ARM IS SUPPORTED
