-- {{ ansible_managed }}
--    CURRENT "VERSION": https://github.com/NvChad/starter/blob/726248c2f337f3b9edb700f6c6d984c59f190da6/lua/configs/lspconfig.lua

local on_attach = require("nvchad.configs.lspconfig").on_attach
local on_init = require("nvchad.configs.lspconfig").on_init
local capabilities = require("nvchad.configs.lspconfig").capabilities

local lspconfig = require "lspconfig"
local servers = {
    "asm-lsp",
    "clangd",
    "cmake-language-server",
    "rust-analyzer",
    "bash-language-server",
    "pyright",
    "zk",
    "lua-language-server",
    "texlab",
    "html-lsp",
    "css-lsp"
}

-- lsps with default config
for _, lsp in ipairs(servers) do
  lspconfig[lsp].setup {
    on_attach = on_attach,
    on_init = on_init,
    capabilities = capabilities,
  }
end
