-- {{ ansible_managed }}
--    CURRENT "VERSION": https://github.com/NvChad/starter/blob/726248c2f337f3b9edb700f6c6d984c59f190da6/lua/plugins/init.lua

return {
  {
    "neovim/nvim-lspconfig",
    config = function()
      require("nvchad.configs.lspconfig").defaults()
      require "configs.lspconfig"
    end,
  },

  {
    "williamboman/mason.nvim",
    opts = {
      ensure_installed = {
        -- asm
        "asm-lsp",
        "asmfmt",

        -- C/C++
        "clangd",
        "cmake-language-server",

        -- Rust
        "rust-analyzer",

        -- shell
        "bash-language-server",
        "shfmt",
        "shellcheck",

        -- python
        --   LSP
        "pyright",
        --   Formatter
        "black",

        -- devops
        "ansible-language-server",
        "dockerfile-language-server",

        -- Markdown
        "zk",

        -- Toml
        "taplo",

        -- lua
        "lua-language-server",
        --  Formatter
        "stylua",

        -- LaTeX
        "texlab",

        -- web dev
        "css-lsp",
        "html-lsp"
      },
    },
  },
}
