---
- name: "[Darwin / Debian/Ubuntu] Install CLI tools"
  block:
    - ansible.builtin.package:
        name:
          - exiftool
          - ffmpeg
          - gifsicle
          - imagemagick
      become: "{{ package_manager_become }}"

    - name: Install yt-dlp
      block:
        - name: Install packages
          community.general.pipx:
            name: yt-dlp
            state: latest
            install_deps: true
            executable: pipx
          loop_control:
            loop_var: pip_package
        - name: Inject packages
          community.general.pipx:
            name: yt-dlp
            state: inject
            inject_packages: ["curl_cffi", "yt-dlp-ejs"]
            executable: pipx
        - name: Copy config file
          ansible.builtin.template:
            src: yt-dlp.conf.j2
            dest: "/{{ os_homedir }}/{{ user.name }}/.config/yt-dlp.conf" # TODO: `.config` should be `${XDG_CONFIG_HOME}`
            owner: "{{ user.name }}"
            group: "{{ user.group_name }}"
            mode: 0644
      become: false

    - name: Install gallery-dl
      block:
        - name: Install packages
          community.general.pipx:
            name: gallery-dl
            state: latest
            install_deps: true
            executable: pipx
        - name: Copy config file
          ansible.builtin.copy:
            src: gallery-dl.conf
            dest: "/{{ os_homedir }}/{{ user.name }}/.gallery-dl.conf"
            mode: 0644
      become: false

- name: Install video players
  block:
    - name: "[Darwin] Install homebrew packages" # TODO: Add flatpak counterparts 4 linux & check whether VM
      community.general.homebrew_cask:
        name: "{{ homebrew_cask }}"
        state: latest
      with_items:
        # Media
        - iina
        - vlc
      loop_control:
        loop_var: homebrew_cask
      become: false
      when: ansible_facts.os_family == 'Darwin'
    - name: "[Debian/Ubuntu] Install flatpak packages"
      community.general.flatpak:
        name:
          - org.videolan.VLC
          - io.github.celluloid_player.Celluloid
        state: present
      become: true
      when: ansible_facts.os_family != 'Darwin'
