---
# {{ ansible_managed }}

version: '3.7'

services:
  # Equivalent command: `docker run -d -u {{ www_user_uid }} -p {{ container_port }}:{{ container_port }} --restart=on-failure:5 --name {{ container_name }} {{ container_image }}`
  {{ container_name }}:
    image: {{ container_image }}

    container_name: {{ container_name }}
    restart: unless-stopped

    user: {{ www_user_uid }}:{{ www_user_gid }}
    security_opt:
      - no-new-privileges:true

    network_mode: bridge

    ports:
      - {{ container_port }}:{{ container_port }}

    volumes:
      - /etc/localtime:/etc/localtime:ro

{% if not container_enable_logging %}
    logging:
      driver: none
{% endif %}
