---
# {{ ansible_managed }}

version: "3.7"

networks:
  {{ reverse_proxy_docker_network }}:
    external: true

services:
  {{ container_name }}:
    image: filebrowser/filebrowser
    container_name: {{ container_name }}
    restart: unless-stopped
    user: {{ www_user_uid }}:{{ www_user_gid }}
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./settings.json:/.filebrowser.json
      - {{ docker_container.data_basedir }}/{{ container_name }}/:/var/filebrowser-data
      - {{ filebrowser_container_share_dir }}/:/srv/
    networks:
      - {{ reverse_proxy_docker_network }}
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`files.{{ domainname }}`)
