# {{ ansible_managed }}

version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

services:
  {{ container_name }}:
    image: filebrowser/filebrowser
    container_name: {{ container_name }}
    #restart: unless-stopped          # (Since the sparse file has to be mounted manually ...)
    user: {{ www_user_uid }}:{{ www_user_gid }}
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./settings.json:/.filebrowser.json
      - {{ docker_container_data_basedir }}/{{ container_name }}/:/var/filebrowser-data
      - {{ filebrowser_container_share_dir }}/:/srv/
    networks:
      - {{ docker_default_network }}
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`files.{{ domainname }}`)
