{{ ansible_managed|comment }}
daemon='{{ vpn.dyndns.update_interval_sec }}'
syslog=yes
ssl=yes

# - dyndns service -
use=cmd,cmd='curl -6 icanhazip.com'       #usev6=if, if={{ vpn.if }}    -> $$$$$$$$$$$$$$$$$   TODO: NOT WORKING ATM
protocol=dyndns2
server={{ vpn.dyndns.server }}
login='{{ vpn.dyndns.user }}'
password='{{ vpn.dyndns.pass }}'
{{ vpn.dyndns.domain }}
