{{ ansible_managed|comment }}
# Send prefix (from Ctrl-b to Ctrl-a)
set-option -g prefix C-a
unbind-key C-a
bind-key C-a send-prefix


# $$$ Only working w/ iTerm2? $$$
# Use Alt-arrow keys to switch panes (no prefix necessary anymore…)
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# Shift arrow to switch windows (no prefix necessary anymore…)
bind -n S-Left previous-window
bind -n S-Right next-window


# Mouse mode (enable mouse support)
setw -g mouse on


# Reassign binding for splitting panes
#bind | split-window -h
#bind - split-window -v

# Set easier window split keys
bind-key v split-window -h
bind-key h split-window -v


# Easy config reload  (new binding 'Prefix-r' for sourcing .tmux.conf (-> if changes have been made to file, tmux-server doesn't have to be restarted for applying changes))
bind-key r source-file ~/.tmux.conf \; display-message "~/.tmux.conf reloaded."
