{{ ansible_managed | comment }}
{% for git_vcs_ssh_key in git_vcs_ssh_keys %}
Host {{ git_vcs_ssh_key.host }}
  AddKeysToAgent yes
  User {{ git_vcs_ssh_key.user }}
  IdentityFile ~/.ssh/vcss/{{ git_vcs_ssh_key.host }}

{% endfor %}
