version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

services:
  {{ container_name }}:
    image: haugene/transmission-openvpn:latest
    restart: no
    container_name: {{ container_name }}

    #user: {{ user_uid }}:{{ docker_gid }}

    cap_add:
      - NET_ADMIN

    dns:
      - 1.1.1.1
      - 1.0.0.1

    networks:
      - {{ docker_default_network }}

    devices:
      - /dev/net/tun

    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ vpn_file }}:/etc/openvpn/custom/default.ovpn
      - {{ storage_path }}/:/data
      #- ./scripts/transmission/hooks:/etc/scripts/hooks/


    #logging:
    #  driver: none

    # See: https://hub.docker.com/r/haugene/transmission-openvpn/dockerfile
    environment:
      - TZ={{ timezone }}

      - CREATE_TUN_DEVICE=true

      - OPENVPN_PROVIDER=CUSTOM
      #- OPENVPN_USERNAME=XXX
      #- OPENVPN_PASSWORD=XXX
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60

      - LOCAL_NETWORK={{ local_network }}

      - TRANSMISSION_WEB_UI=kettu

      - TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true
      - TRANSMISSION_RPC_USERNAME={{ web_username }}
      - TRANSMISSION_RPC_PASSWORD={{ web_password }}

      - TRANSMISSION_RATIO_LIMIT_ENABLED=true
      - TRANSMISSION_RATIO_LIMIT=1
      - TRANSMISSION_BLOCKLIST_ENABLED=true
      - TRANSMISSION_BLOCKLIST_URL={{ peers_blocklist }}
      - TRANSMISSION_DOWNLOAD_QUEUE_SIZE={{ max_parallel_downloads }}
      - TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED=false

      # Emailing
      #- TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED=${TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED}
      #- TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME=${TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME}
      #- NOTIFICATION_MAIL_SMTP_SERVER_HOST=${NOTIFICATIONS_MAIL_SERVER_HOST}
      #- NOTIFICATION_MAIL_SMTP_SERVER_PORT=465
      #- NOTIFICATION_MAIL_SERVER_USERNAME=${NOTIFICATIONS_MAIL_SERVER_USERNAME}
      #- NOTIFICATION_MAIL_SERVER_PASSWORD=${NOTIFICATIONS_MAIL_SERVER_PASSWORD}
      #- NOTIFICATION_MAIL_TO_ADDR=${SYSTEM_ADMIN_MAIL}
      #- NOTIFICATION_MAIL_HIDE_FILENAME=true

    labels:
     # Watchtower
      - com.centurylinklabs.watchtower.enable=false

     # Traefik
      - traefik.enable=true
      - traefik.http.services.{{ container_name }}_service.loadbalancer.server.port=9091
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`{{ container_name }}.{{ domainname }}`)
