---
- name: Install/Enable + change sshd settings
  block:
    - name: Install ssh server
      block:
        - name: "[Debian/Ubuntu]"
          ansible.builtin.apt:
            name: ssh # Metapackage comprised of both the OpenSSH client & the OpenSSH server
          when: ansible_facts.os_family != 'Darwin'
        - name: "[Darwin]"
          ansible.builtin.include_tasks: ../../client/base/tasks/darwin/systemsetup_util.yml
          vars:
            systemsetup_setting: { setting: remotelogin, value: "On" }
          when: ansible_facts.os_family == 'Darwin'

    - name: Harden
      block:
        - name: Update config file
          ansible.builtin.lineinfile:
            path: /etc/ssh/sshd_config
            regexp: "^#?{{ common_ssh_item.key }}"
            line: "{{ common_ssh_item.key }} {{ common_ssh_item.value }}"
            validate: "/usr/sbin/sshd -T -f %s"
          with_items:
            # Disable root login:
            - key: "PermitRootLogin"
              value: "no"
            # Enable public key authentication:
            - key: "PubkeyAuthentication"
              value: "yes"
            # Disable password login:
            - key: "PasswordAuthentication"
              value: "no"
            - key: "ChallengeResponseAuthentication"
              value: "no"
            # Enable/Disable X11 forwarding:
            - key: "X11Forwarding"
              value: "{{ sshd.x11_enabled | default('no', true) }}"
            # Change ssh port:
            - key: "Port"
              value: "{{ sshd.port | default('22', true) }}"
          loop_control:
            loop_var: common_ssh_item
        - name: "[Ubuntu Server] Rmv contradicting conf file" # Would overwrite overwrite `PasswordAuthentication` 2 `yes`
          ansible.builtin.file:
            path: /etc/ssh/sshd_config.d/50-cloud-init.conf
            state: absent
          when: ansible_facts.distribution == 'Ubuntu'

    - name: Add authorized ssh key(s)
      ansible.posix.authorized_key:
        user: "{{ auth_host.user }}"
        key: "{{ auth_host.key }}"
        #key_options: 'no-port-forwarding,from="10.0.1.1"'
        state: present
      with_items: "{{ sshd.authorized_keys }}"
      loop_control:
        loop_var: auth_host
      when: sshd.authorized_keys is defined

    - name: Allow client 2 pass locale environment variables
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?AcceptEnv LANG LC_\*$'
        line: "AcceptEnv LANG LC_*"
        validate: "/usr/sbin/sshd -T -f %s"
  notify: restart ssh daemon
  become: true
  when: sshd is defined and not (sshd.enabled is defined and sshd.enabled == False)

- name: Install mosh
  ansible.builtin.package:
    name: mosh # Both client & "server"
  become: "{{ package_manager_become }}"

- name: Uninstall/Disable ssh server
  block:
    - name: "[Debian/Ubuntu]"
      ansible.builtin.apt:
        name: openssh-server # TODO: REVISE (just disable daemon ?!)
        state: absent
      when: ansible_facts.os_family != 'Darwin'
    - name: "[Darwin]"
      ansible.builtin.include_tasks: ../../client/base/tasks/darwin/systemsetup_util.yml
      vars:
        systemsetup_setting: { setting: remotelogin, value: "Off" }
      when: ansible_facts.os_family == 'Darwin'
  become: true
  when: sshd is defined and sshd.enabled is defined and sshd.enabled == False
