---
# TODO: for all systems: common ansible ssh-key
#- name: Add ssh key for {{ user.name }}
#  authorized_key:
#    user: {{ user.name }}
#    key: {{ user_ssh_key }}

- name: Install/Enable + change sshd settings
  block:
    - name: Install ssh server
      block:
        - name: "[Debian/Ubuntu]"
          ansible.builtin.apt:
            name: ssh # Metapackage comprised of both the OpenSSH client & the OpenSSH server
          when: ansible_facts.os_family != 'Darwin'
        - name: "[Darwin]"
          ansible.builtin.include_tasks: ../../client/base/tasks/darwin/systemsetup_util.yml
          vars:
            systemsetup_setting: { setting: remotelogin, value: "On" }
          when: ansible_facts.os_family == 'Darwin'

    - name: Harden
      block:
        - name: Update config file
          ansible.builtin.lineinfile:
            dest: /etc/ssh/sshd_config
            regexp: "^#?{{ common_ssh_item.key }}"
            line: "{{ common_ssh_item.key }} {{ common_ssh_item.value }}"
            validate: "/usr/sbin/sshd -T -f %s"
          with_items:
            # Disable root login:
            - key: "PermitRootLogin"
              value: "no"
            # Enable public key authentication:
            - key: "PubkeyAuthentication"
              value: "yes"
            # Disable password login:
            - key: "PasswordAuthentication"
              value: "no"
            - key: "ChallengeResponseAuthentication"
              value: "no"
            # Enable/Disable X11 forwarding:
            - key: "X11Forwarding"
              value: "{{ ssh.x11_enabled | default('no', true) }}"
            # Change ssh port:
            - key: "Port"
              value: "{{ ssh.port | default('22', true) }}"
          loop_control:
            loop_var: common_ssh_item
        - name: "[Ubuntu Server] Rmv contradicting conf file" # Would overwrite overwrite `PasswordAuthentication` 2 `yes`
          ansible.builtin.file:
            path: /etc/ssh/sshd_config.d/50-cloud-init.conf
            state: absent
          when: ansible_facts.distribution == 'Ubuntu'

    - name: Allow client 2 pass locale environment variables
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: '^#?AcceptEnv LANG LC_\*$'
        line: "AcceptEnv LANG LC_*"
        validate: "/usr/sbin/sshd -T -f %s"
  notify: restart ssh daemon
  become: true
  when: sshd_enabled is defined and sshd_enabled == True

- name: Install mosh
  ansible.builtin.package:
    name: mosh # Both client & "server"
  become: "{{ package_manager_become }}"

- name: Uninstall/Disable ssh server
  block:
    - name: "[Debian/Ubuntu]"
      ansible.builtin.apt:
        name: openssh-server # TODO: REVISE (just disable daemon ?!)
        state: absent
      when: ansible_facts.os_family != 'Darwin'
    - name: "[Darwin]"
      ansible.builtin.include_tasks: ../../client/base/tasks/darwin/systemsetup_util.yml
      vars:
        systemsetup_setting: { setting: remotelogin, value: "Off" }
      when: ansible_facts.os_family == 'Darwin'
  become: true
  when: sshd_enabled is defined and sshd_enabled == False
