---
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  TODO: Derive `volumes` from `compose`  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
- name: Setup container
  ansible.builtin.include_tasks: setup_containers.yml
  loop_control:
    loop_var: container
  with_items:
    # SEE: https://immich.app/docs/install/docker-compose
    - name: immich # TODO SSO: https://immich.app/docs/administration/oauth/
      startup: False
      compose:
        volumes:
          - "immich-model-cache"
        additional_networks:
          - name: immich
        services:
          - name: immich-server
            image: ghcr.io/immich-app/immich-server:release
            # extends:
            #   file: hwaccel.transcoding.yml
            #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
            network:
              reverse_proxy_mappings:
                - subdomain: immich
                  port: 2283
              nets: [immich]
            volumes:
              - path: "{{ docker_container.data_basedir }}/immich/:/data"
              - path: "/etc/localtime:/etc/localtime"
                ro: True
            env_vars:
              - IMMICH_WORKERS_INCLUDE=api
              - TZ={{ timezone }}
              - DB_USERNAME={{ immich.db.user }}
              - DB_PASSWORD={{ immich.db.pw }}
              - DB_DATABASE_NAME={{ immich.db.db_name }}
            depends_on:
              - immich-redis
              - immich-db
            restart_policy: "{{ immich.restart_policy }}"
            healthcheck: false

          # SPLIT WEB FROM MICROSERVICES: https://immich.app/docs/administration/jobs-workers/#split-workers
          - name: immich-microservices
            image: ghcr.io/immich-app/immich-server:release
            # extends:
            #   file: hwaccel.transcoding.yml
            #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
            network:
              nets: [immich]
            volumes:
              - path: "{{ docker_container.data_basedir }}/immich/:/data"
              - path: "/etc/localtime:/etc/localtime"
                ro: True
            env_vars:
              - IMMICH_WORKERS_EXCLUDE=api
              - TZ={{ timezone }}
              - DB_USERNAME={{ immich.db.user }}
              - DB_PASSWORD={{ immich.db.pw }}
              - DB_DATABASE_NAME={{ immich.db.db_name }}
            depends_on:
              - immich-redis
              - immich-db
            restart_policy: "{{ immich.restart_policy }}"
            healthcheck: false

          - name: immich-redis
            image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
            hostname: redis
            healthcheck: redis-cli ping || exit 1
            restart_policy: "{{ immich.restart_policy }}"
            network:
              nets: [immich]
            # OTHERWISE:
            #   … # Failed opening the temp RDB file temp-321.rdb (in server root dir /data) for saving: Permission denied
            #   … # Background saving error
            security:
              use_root: True

          - name: immich-db
            image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
            hostname: database
            env_vars:
              - POSTGRES_INITDB_ARGS="--data-checksums"
              - POSTGRES_USER={{ immich.db.user }}
              - POSTGRES_PASSWORD={{ immich.db.pw }}
              - POSTGRES_DB={{ immich.db.db_name }}
              # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
              #- DB_STORAGE_TYPE='HDD'
            volumes:
              # Do not edit the next line. If you want to change the database storage location on your system, edit the value of DB_DATA_LOCATION in the .env file
              - path: "{{ docker_container.data_basedir }}/immich/postgres:/var/lib/postgresql/data"
            shm_size: 128mb
            restart_policy: "{{ immich.restart_policy }}"
            network:
              nets: [immich]

          - name: immich-ml
            # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
            # Example tag: ${IMMICH_VERSION:-release}-cuda
            image: ghcr.io/immich-app/immich-machine-learning:release-armnn
            hostname: immich-machine-learning
            volumes:
              - path: "immich-model-cache:/cache"
            restart_policy: "{{ immich.restart_policy }}"
            # TODO:  Due 2 docker volume permission  (might be fixed using a bind mount instead ?!?!!11)
            security:
              use_root: True
            network:
              nets: [immich]
            healthcheck: false
