---
- name: Watchtower
  ansible.builtin.import_tasks: service-watchtower.yml

- name: Traefik
  ansible.builtin.import_tasks: service-traefik.yml

- name: Bitwarden
  ansible.builtin.import_tasks: service-bitwarden.yml

- name: Download Services
  ansible.builtin.import_tasks: service-dl_services.yml

- name: Copyparty
  ansible.builtin.import_tasks: service-copyparty.yml

- name: Immich
  ansible.builtin.import_tasks: service-immich.yml

- name: Wireguard VPN
  ansible.builtin.import_tasks: service-vpn.yml

- name: Pihole
  ansible.builtin.import_tasks: service-pihole.yml

# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  TODO: Derive `volumes` from `compose`  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
- name: Setup containers
  ansible.builtin.include_tasks: setup_containers.yml
  loop_control:
    loop_var: container
  with_items:
    - name: nginx-helloworld
      startup: False
      compose:
        services:
          - name: nginx-helloworld
            security:
              use_root: True
            image: nginxdemos/hello:latest
            restart_policy: "no"
            network:
              ports:
                - "{{ host_port | default(8080, true) }}:80"

    - name: portainer # TODO SSO: https://docs.portainer.io/admin/settings/authentication/oauth  //  https://helgeklein.com/blog/portainer-setup-guide-with-automatic-https-oauth-sso-via-authelia/
      startup: False
      compose:
        services:
          - name: portainer
            security:
              use_root: True
            image: portainer/portainer-ce
            network:
              reverse_proxy_mappings:
                - subdomain: portainer
                  port: 9000
            volumes:
              - path: "/var/run/docker.sock:/var/run/docker.sock"
              - path: "{{ docker_container.data_basedir }}/portainer/:/data"
              - path: "/etc/localtime:/etc/localtime"
                ro: True

    # NOTE -- CLIENT CONFIG: 2 use syncthing w/ wireguard vpn,
    #   go in SyncTrain 2 Devices
    #   -> <device-hostname>
    #   -> Addresses
    #   -> Add address
    #   -> Add both tcp & quic: W/ hostname <device-hostname>
    - name: syncthing
      compose:
        services:
          - name: syncthing
            image: syncthing/syncthing
            network:
              #ports:                                # Not relevant when using `network_mode=host`
              #  - 8384:8384                         # Web UI
              #  - 22000:22000/tcp                   # TCP file transfers
              #  - 22000:22000/udp                   # QUIC file transfers
              #  - 21027:21027/udp                   # Receive local discovery broadcasts
              mode: host # Required 4 local discovery
            volumes:
              - path: "{{ docker_container.data_basedir }}/syncthing/:/var/syncthing/"
            env_vars:
              - PUID={{ www_user.uid }}
              - PGID={{ www_user.gid }}
              # Access GUI via: `ssh -L 8385:127.0.0.1:8384 l0-rpi0`
              - STGUIADDRESS= # Empty = Fallback 2 localhost   (change address from `0.0.0.0:<port>` 2 `127.0.0.1:<port>` 4 added security)

    - name: volact
      compose:
        services:
          - name: volact
            image: "{{ volact.container_image }}"
            network:
              ports:
                - "{{ volact.port }}:{{ volact.port }}/tcp"
              mode: bridge
            volumes:
              - path: "/etc/localtime:/etc/localtime"
                ro: True

    - name: baikal # TODO SSO: https://github.com/sabre-io/Baikal/pull/1124
      compose:
        services:
          - name: baikal
            security:
              use_root: True
            image: ckulka/baikal:nginx
            network:
              reverse_proxy_mappings:
                - subdomain: baikal
                  port: 80
            volumes:
              - path: "{{ docker_container.data_basedir }}/baikal/config/:/var/www/baikal/config"
              - path: "{{ docker_container.data_basedir }}/baikal/user/:/var/www/baikal/Specific"

#    - name: freshrss                       # TODO SSO: https://goauthentik.io/integrations/services/freshrss/
##      startup: False
#      compose:
#        services:
#          - name: freshrss
#            security:
#              use_root: True
#            image: lscr.io/linuxserver/freshrss:latest
#            network:
#              reverse_proxy_mappings:
#                - subdomain: newsfeed
#                  port: 80
#            volumes:
#              - path: '{{ docker_container.data_basedir }}/freshrss/:/config/'
#            env_vars:
#              - TZ={{ timezone }}
#              - PUID={{ www_user.uid }}
#              - PGID={{ www_user.gid }}
