---
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  TODO: Derive `volumes` from `compose`  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
- name: Setup containers
  ansible.builtin.import_tasks: setup_containers.yml
  vars:
    container:
      name: bitwarden
      # TODO SSO -- PROBLEM: Requires "Key connector" 2 avoid entering master pw:
      #   - https://bitwarden.com/help/about-key-connector/
      #   - https://github.com/dani-garcia/vaultwarden/discussions/2583
      compose:
        services:
          - name: bitwarden
            image: vaultwarden/server
            network:
              reverse_proxy_mappings:
                - subdomain: bitwarden
                  port: 80
            volumes:
              - path: "{{ docker_container.data_basedir }}/bitwarden/:/data/"
            env_vars:
              - TZ={{ timezone }}
              # --- General
              - DATA_FOLDER=/data
              - DATABASE_URL=/data/db.sqlite3
              - WEBSOCKET_ENABLED=true
              - SIGNUPS_ALLOWED={{ bitwarden_signups_allowed | default('false', true) }}
              - SIGNUPS_VERIFY={{ 'true' if notifications_mail is defined else 'false' }}
              - DOMAIN=https://bitwarden.{{ domainname }}
              # --- Emailing
              - SMTP_HOST={{ notifications_mail.smtp_host }}
              - SMTP_FROM={{ notifications_mail.smtp_username }}
              - SMTP_FROM_NAME=Bitwarden_RS
              - SMTP_PORT={{ notifications_mail.smtp_port }}
              # NOTE: ("starttls", "force_tls", "off") Enable a secure connection. Default is "starttls" (Explicit - ports 587 or 25), "force_tls" (Implicit - port 465) or "off", no encryption (port 25)
              - SMTP_SECURITY={{ notifications_mail.smtp_enc }}
              - SMTP_USERNAME={{ notifications_mail.smtp_username }}
              - SMTP_PASSWORD={{ notifications_mail.smtp_password }}
              - SMTP_TIMEOUT=15
