---
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  TODO: Derive `volumes` from `compose`  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
- name: Setup containers
  ansible.builtin.include_tasks: setup_containers.yml
  loop_control:
    loop_var: container
  with_items:
    - name: watchtower
      compose:
        services:
          - name: watchtower
            image: nickfedor/watchtower
            network:
              mode: bridge
            volumes:
              - path: "/var/run/docker.sock:/var/run/docker.sock"
            # TESTING: `--run-once`
            # - WATCHTOWER_SCHEDULE="<watchtower_cron_schedule>"
            # FORMAT: Seconds, Minutes, Hours, Day of month, Month, Day of week  (see https://pkg.go.dev/github.com/robfig/cron@v1.2.0#hdr-CRON_Expression_Format)
            command:
              [
                '--schedule "{{ watchtower_cron_schedule | default("0 30 3 * * WED,SAT", true) }}"',
              ]
            env_vars:
              - TZ={{ timezone }}
              - WATCHTOWER_CLEANUP=true
              - WATCHTOWER_LABEL_ENABLE=true # Filter by enable label
              - WATCHTOWER_NO_STARTUP_MESSAGE=true
              # - Emailing
              - WATCHTOWER_NOTIFICATIONS=email
              - WATCHTOWER_NOTIFICATION_EMAIL_SERVER={{ notifications_mail.smtp_host }}
              - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT={{ notifications_mail.smtp_port }}
              - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER={{ notifications_mail.smtp_username }}
              - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD={{ notifications_mail.smtp_password }}
              - WATCHTOWER_NOTIFICATION_EMAIL_FROM={{ notifications_mail.smtp_username }}
              - WATCHTOWER_NOTIFICATION_EMAIL_TO={{ notifications_mail.system_admin_mail }}
