---
- name: Install open-vm-tools
  ansible.builtin.apt:
    name:
      - open-vm-tools
      - open-vm-tools-desktop
    state: present
  become: true

- name: Setup vmware shares
  block:
    - name: Mount vmware shares on boot
      # Resulting `/etc/fstab` entry: `vmhgfs-fuse /mnt/hgfs fuse defaults,allow_other 0 0`
      ansible.posix.mount:
        path: "{{ vm_shares_mount_dir }}"
        src: "vmhgfs-fuse"
        fstype: fuse
        opts: "defaults,allow_other"
        state: mounted
      become: true

    - name: Create symlink in home dir
      ansible.builtin.file:
        src: "{{ vm_shares_mount_dir }}"
        dest: "/{{ os_homedir }}/{{ user.name }}/vm-shares"
        state: link
      become: false
  when: vm_shares_setup
