#!/usr/bin/python3

"""
{{ ansible_managed }}

Workaround, as we use Privacy Extensions, but Fritzbox allows only fixed IF-ID
"""

import os
import sys
import socket
import netifaces as ni
import requests
import time
import datetime


LOG_DATE_FORMAT = '%Y-%m-%d %H:%M:%S'

if __name__ == "__main__":
    print(f"[{ datetime.datetime.now().strftime(LOG_DATE_FORMAT) }] Running as user '{os.path.split(os.path.expanduser('~'))[-1]}' on '{os.uname()[1]}'")

    last_updated_ip = socket.getaddrinfo("{{ vpn.dyndns.domain }}", 0, socket.AF_INET6)[0][4][0]
    while True:
        print(f"[{ datetime.datetime.now().strftime(LOG_DATE_FORMAT) }] Checking …")
        for ip in ni.ifaddresses('{{ vpn.if }}')[ni.AF_INET6]:
            if any(x in ip['addr'] for x in ['fd00', 'fe80'])   or   '{{ vpn.ipv6_if_id }}'.replace('::', '') not in ip['addr']: continue
            if last_updated_ip != ip['addr']:
                try:
                    with requests.get(f"http://dynv6.com/api/update?hostname={{ vpn.dyndns.domain }}&ipv6={ ip['addr'] }&token={{ vpn.dyndns.pass }}", timeout=3) as r:
                        r.raise_for_status()
                except (requests.exceptions.HTTPError, requests.exceptions.ConnectionError, requests.exceptions.Timeout, requests.exceptions.RequestException) as e:
                    print(f"[{ datetime.datetime.now().strftime(LOG_DATE_FORMAT) }] Couldn't update  --  ", e, file=sys.stderr)
                    break
                last_updated_ip = ip['addr']
                print(f"[{ datetime.datetime.now().strftime(LOG_DATE_FORMAT) }] Updated '{{ vpn.dyndns.domain }}' -- new addr: { last_updated_ip }")
            break

        if last_updated_ip == None:
            print(f"[{ datetime.datetime.now().strftime(LOG_DATE_FORMAT) }] Found no matching address (expected IF ID \"{{ vpn.ipv6_if_id }}\")", e, file=sys.stderr)

        time.sleep({{ vpn.dyndns.update_interval_sec }})
