{{ ansible_managed | comment }}
# Confirm config file changes
#  `--force-confdef`: dpkg should decide alone when it can and prompt otherwise
#  `--force-confold`: the "otherwise" part above --> don't modify the current configuration file

Dpkg::Options {
   "--force-confdef";
   "--force-confold";
}
