# {{ ansible_managed }}

version: "3.7"

networks:
  {{ reverse_proxy_docker_network }}:
    external: true

services:
  {{ container_name }}:
    image: traefik
    restart: unless-stopped
    container_name: {{ container_name }}
    hostname: {{ container_name }}

    user: {{ www_user_uid }}:{{ www_user_gid }}
    security_opt:
      - no-new-privileges:true
    sysctls:                                                                # Required for binding to a privliged port (ports which are lower than 1024)
      - net.ipv4.ip_unprivileged_port_start=0

    domainname: {{ domainname }}

    networks:
      - {{ reverse_proxy_docker_network }}

    ports:
      - 80:80
      - 443:443

    command:
      - "--log.level=WARN"
      - "--global.sendanonymoususage=false"
      - "--api.dashboard=false"
      - "--api.insecure=true"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      # ,globalAuth@file
      - "--entrypoints.websecure.http.middlewares=securityHeaders@file"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--providers.docker.network={{ reverse_proxy_docker_network }}"
      - "--providers.file.directory=/config/"
      - "--providers.file.watch=true"
      # Disalbes ping healthcheck (entryPoint treafik on port 8080) ???
#      - "--ping=false"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

      # config
      - ./dynamic-conf.yml:/config/dynamic-conf.yml
      - '{{docker_container.data_basedir}}/traefik/:/config/certs/'

    environment:
       - TZ={{ timezone }}

    labels:
      - com.centurylinklabs.watchtower.enable=true
       #  traefik -- REFERENCE: https://docs.traefik.io/configuration/backends/docker/#on-containers
      - traefik.enable=false
#      - traefik.http.services.{{ container_name }}_service.loadbalancer.server.port=8080
#      - traefik.http.routers.{{ container_name }}_router.rule=Host(`{{ container_name }}.{{ domainname }}`)
