{{ ansible_managed|comment }}
##
# Host Database
#
# localhost is used to configure the loopback interface
# when the system is booting.  Do not change this entry.
##
127.0.0.1		localhost
255.255.255.255		broadcasthost
::1       		localhost


####################################################################################
# WARNING: The file /etc/hosts is generated and will be periodically overwritten
# To add persistent changes, add them to /etc/hblock.d/header
####################################################################################


# Custom host records are listed here.
{% if hblock is defined %}
{% for entry in hblock.overwrite %}
{%   for host_ip in entry.host_ips %}
{{ host_ip }} {{ entry.domains|join(' ') }}
{%   endfor %}
{% endfor %}
{% endif %}
