{{ ansible_managed | comment }}

XKBMODEL="{{ keyboard.model }}"
XKBLAYOUT="{{ keyboard.layout }}"
XKBVARIANT="{{ keyboard.variant }}"
XKBOPTIONS="{{ keyboard.options }}"
BACKSPACE="{{ keyboard.backspace }}"
