#!/usr/bin/env bash

{{ ansible_managed | comment }}

{# NOTE:
     - Ubuntu Server 24.04 LTS 4 Raspberry Pi: initramfs-tools
       ( SEE: https://discourse.ubuntu.com/t/ubuntu-on-raspberry-pi-summer-25-update/64395/6 )
     - Ubuntu 25.10 (4 ARM): dracut

    CHECK VIA:
      - `dpkg -l | grep -E "initramfs-tools|dracut"`
      - `lsinitramfs /boot/initrd.img-$(uname -r)`
      - `journalctl -b | grep -Ei 'dracut|initramfs'`
      - `cat /proc/cmdline`
#}

{% set OT_KEYFILE = "/boot/firmware/luks_ot_reboot.key" %}{#    !! IMPORTANT: Must be `/boot/firmware` on Ubuntu Server !! #}
{% set OT_SERVICE_FILE = "luks_ot_reboot.key-cleanup.service" %}
{% set OT_SERVICE_FILE_DIR = "/etc/systemd/system" %}
{% set OT_WORKAROUND_SCRIPT_FILE = "/var/luks_ot_reboot.key-cleanup" %}{#    TODO: Should be embedded in the systemd service unit's `ExecStart`, but doesn't work
… #}
{% set UUID_DEV_BASED = True %}

set -e

# Check if the script is running as root
if [ "$EUID" -ne 0 ]; then
    echo 'Must run as root' >&2
    exit 1
fi

# Detect cryptroot mapping name (e.g. 'cryptroot');   `sed` filters btrfs volume
crypt_mapper_dev=$(findmnt -n -o SOURCE /  | sed 's/\[\/@\]//')

# Detect underlying encrypted block device
crypt_dev=$(cryptsetup status "${crypt_mapper_dev}" | awk '/device:/ {print $2}')

if [ -z "${crypt_dev}" ]; then
    echo 'Could not detect encrypted root device' >&2
    exit 1
fi

crypt_dev_uuid=$(blkid -s UUID -o value "${crypt_dev}")

# Validate passphrase
echo -n "Enter (a) passphrase 4 encrypted root device \"${crypt_dev}\": "
read -s passphrase
echo '[+] Validating entered passphrase …'
echo "${passphrase}" | cryptsetup luksOpen --test-passphrase "${crypt_dev}"

# Generate key
echo '[+] Generating ot key'
dd if=/dev/urandom of='{{ OT_KEYFILE }}' bs=4096 count=1 status=none
chmod 0400 '{{ OT_KEYFILE }}'           # NOTE: No effect on FAT FS ?!

# Add cleanup service
echo '[+] Installing cleanup service (4 ot (one-time) key)'
cat > '{{ OT_WORKAROUND_SCRIPT_FILE }}' << EOF
#!/usr/bin/env bash

# NOTE: VALIDATE -- AFTER REBOOT we want:
#   - No {{ OT_KEYFILE }}
#   - No {{ OT_SERVICE_FILE_DIR }}/{{ OT_SERVICE_FILE }}
#   - No {{ OT_WORKAROUND_SCRIPT_FILE }}
#   - No {{ OT_KEYFILE }} entry in /etc/crypttab
#   - Only 1 keyslot  (SEE: cryptsetup luksDump "<crypt_dev>")

set -e

# Remove slot
cryptsetup luksRemoveKey --key-file '{{ OT_KEYFILE }}' '${crypt_dev}'

# Remove & Delete keyfile
sed -i 's|{{ OT_KEYFILE }}|none|' /etc/crypttab
rm -f '{{ OT_KEYFILE }}'

# Rebuild initramfs
update-initramfs -u -k all
cp --dereference /boot/initrd.img /boot/firmware/initrd.img   # WORKAROUND: Ubuntu Server 4 Pis initrd /boot/firmware v.s., /boot ?!

# Disable this service & delete it
systemctl disable '{{ OT_SERVICE_FILE }}'
rm -f '{{ OT_SERVICE_FILE_DIR }}/{{ OT_SERVICE_FILE }}' '{{ OT_WORKAROUND_SCRIPT_FILE }}'
EOF

chmod 0744 '{{ OT_WORKAROUND_SCRIPT_FILE }}'

cat > '{{ OT_SERVICE_FILE_DIR }}/{{ OT_SERVICE_FILE }}' << EOF
[Unit]
Description=Remove one-time LUKS key after boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart='{{ OT_WORKAROUND_SCRIPT_FILE }}'

[Install]
WantedBy=multi-user.target
EOF

# Activate cleanup service
systemctl daemon-reload
systemctl enable '{{ OT_SERVICE_FILE }}'    # but not started yet

# Install ot key
echo '[+] Adding ot key as LUKS keyslot'
echo "${passphrase}" | cryptsetup luksAddKey "${crypt_dev}" '{{ OT_KEYFILE }}'

echo '[+] Setting up auto-unlock (using ot key)'
# Add keyfile in /etc/crypttab
{% if UUID_DEV_BASED == True %}
sed -i "s|UUID=${crypt_dev_uuid}[[:space:]]\+none|UUID=${crypt_dev_uuid} {{ OT_KEYFILE }}|" /etc/crypttab
{% else %}
sed -i "s|${crypt_dev}[[:space:]]\+none|${crypt_dev} {{ OT_KEYFILE }}|" /etc/crypttab
{% endif %}

# ( Update initramfs )
update-initramfs -u -k all
cp --dereference /boot/initrd.img /boot/firmware/initrd.img   # WORKAROUND: Ubuntu Server 4 Pis initrd /boot/firmware v.s., /boot ?!

echo '[+] Rebooting …'
reboot
