#!/usr/bin/env bash

#{{ ansible_managed | comment }}

# NOTE: VALIDATE -- AFTER REBOOT we want:
#   - No `/boot/luks_ot_reboot.key`
#   - No `/etc/systemd/system/luks_ot_reboot.key-cleanup.service`
#   - No `/var/luks_ot_reboot.key-cleanup`
#   - No `/boot/luks_ot_reboot.key` entry in `/etc/crypttab`
#   - Only 1 keyslot in `cryptsetup luksDump "/dev/sda3"`

set -e

# Check if the script is running as root
if [ "$EUID" -ne 0 ]; then
    echo "Must run as root" >&2
    exit 1
fi

# Detect cryptroot mapping name (e.g. cryptroot);   `sed` filters btrfs volume
CRYPT_MAPPER_DEV=$(findmnt -n -o SOURCE /  | sed 's/\[\/@\]//')

# Detect underlying encrypted block device
CRYPT_DEV=$(cryptsetup status "$CRYPT_MAPPER_DEV" | awk '/device:/ {print $2}')

if [ -z "$CRYPT_DEV" ]; then
    echo "Could not detect encrypted root device" >&2
    exit 1
fi

# Validate passphrase
echo -n "Enter (a) passphrase 4 encrypted root device \"$CRYPT_DEV\": "
read -s passphrase
echo "$passphrase" | sudo cryptsetup luksOpen --test-passphrase "$CRYPT_DEV"

echo "[+] Installing cleanup service (4 ot (one-time) key)"
KEYFILE=/boot/luks_ot_reboot.key
SERVICE_FILE=luks_ot_reboot.key-cleanup.service
WORKAROUND_SCRIPT_FILE=/var/luks_ot_reboot.key-cleanup  # TODO: Should be embedded in the systemd service unit's `ExecStart`, but doesn't work …
SERVICE_PATH="/etc/systemd/system"
cat > "$WORKAROUND_SCRIPT_FILE" << EOF
#!/usr/bin/env bash
set -e
cryptsetup luksRemoveKey --key-file "$KEYFILE" "$CRYPT_DEV"
sed -i "s|$KEYFILE|none|" /etc/crypttab
rm -f "$KEYFILE"
update-initramfs -u
systemctl disable "$SERVICE_FILE"
rm -f "$SERVICE_PATH/$SERVICE_FILE" "$WORKAROUND_SCRIPT_FILE"
EOF

chmod 0744 "$WORKAROUND_SCRIPT_FILE"

cat > "$SERVICE_PATH/$SERVICE_FILE" << EOF
[Unit]
Description=Remove one-time LUKS key after boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=$WORKAROUND_SCRIPT_FILE

[Install]
WantedBy=multi-user.target
EOF

systemctl daemon-reload
systemctl enable "$SERVICE_FILE"    # but not started yet

echo "[+] Generating ot key"
dd if=/dev/urandom of="$KEYFILE" bs=4096 count=1 status=none
chmod 0400 "$KEYFILE"

echo "[+] Adding ot key as LUKS keyslot"
echo "$passphrase" | cryptsetup luksAddKey "$CRYPT_DEV" "$KEYFILE"

echo '[+] Setting up auto-unlock (using ot key)'
# Add keyfile in `/etc/crypttab`
#UUID=$(blkid -s UUID -o value "$CRYPT_DEV")
#sed -i "s|^$CRYPT_MAPPER_DEV .*|$CRYPT_MAPPER_DEV UUID=$UUID $KEYFILE luks|" /etc/crypttab
sed -i "s|$CRYPT_DEV[[:space:]]\+none|$CRYPT_DEV $KEYFILE|" /etc/crypttab

# Rebuild initramfs
update-initramfs -u

echo "[+] Rebooting …"
reboot
