---
# apt -- show installed packages: `apt list --installed`
# ---------------------------------------------------------
- name: Cleanup
  block:
    # ( Deps of `task-gnome-desktop` )
    - name: "[Debian/Ubuntu] Uninstall unnecessary apt packages (mostly Gnome stuff)"
      ansible.builtin.apt:
        name:
          - gnome-shell-extension-prefs
          - ubuntu-advantage-desktop-daemon
          # --  Games  --
          - aisleriot
          - gnome-2048
          - gnome-chess
          - gnome-mahjongg
          - gnome-mines
          - gnome-sudoku
          - gnome-klotski
          - gnome-robots
          - five-or-more
          - four-in-a-row
          - hitori
          - lightsoff
          - gnome-nibbles
          - quadrapassel
          - swell-foop
          - iagno
          - tali
          - gnome-taquin
          - gnome-tetravex
          # --  Apps  --
          - gnome-clocks
          - gnome-calendar
          - gnome-contacts
          - gnome-documents
          - endeavour # previously: gnome-todo
          - gnome-maps
          - gnome-music
          - "*rhythmbox*"
          - gnome-weather
          - transmission*
          - libreoffice*
          - totem # Media player
          - evolution # Mail
          - thunderbird*
          - simple-scan
          - cheese # NOTE: 'cheese-common', 'libcheese-gtk25' & 'libcheese8' are required by the Settings app (package 'unity-control-center')
          - "shotwell*"
          - zutty # Useless terminal emulator
        state: absent
        purge: true
        clean: true
        autoremove: true
    - name: "[Debian/Ubuntu] (Re)Install missing stuff"
      ansible.builtin.apt:
        name:
          - nautilus # Gets rmved mysteriously …
          - ptyxis
          - seahorse # "gnome-keyring" frontend
        state: present
  become: true
  when: ansible_facts.os_family == 'Debian'
# ---------------------------------------------------------

- name: Install required Ansible related packages
  block:
    - name: apt
      ansible.builtin.apt:
        name:
          - python3-psutil # Required for `dconf` module
          - python3-apt # Required by Ansible modules
          - dconf-cli
          - dconf-editor
        state: present
    - name: Install flatpak
      ansible.builtin.import_tasks: linux/package-flatpak.yml
  become: true
  when: ansible_facts.os_family != 'Darwin'

- ansible.builtin.include_tasks: "{{ item }}"
  loop:
    - linux/package-firefox.yml
    - linux/package-conky.yml
  when: ansible_facts.os_family != 'Darwin'

- name: Install blackhole # System audio capture
  community.general.homebrew_cask:
    name: blackhole-2ch
    state: latest
    #sudo_password: "{{ ansible_become_pass }}"   TODO: Doesn't work when not passwordless: https://github.com/ansible-collections/community.general/issues/4957
  become: false
  when: ansible_facts.os_family == 'Darwin'

- name: 'Install "convenience" tools'
  block:
    - name: "[Debian/Ubuntu]"
      ansible.builtin.apt:
        name:
          - trash-cli
        state: present
      become: true
      when: ansible_facts.os_family != 'Darwin'
    - name: "[Darwin]"
      community.general.homebrew:
        name:
          - trash
          - mas # Mac App Store CLI tool
      become: false
      when: ansible_facts.os_family == 'Darwin'

- name: 'Install "Office stuff"'
  block:
    - name: "[Darwin]"
      community.general.homebrew:
        name:
          - poppler # `pdfimages`, `pdftotext`
          - tesseract # Validate via: `tesseract --list-langs`
          - tesseract-lang
      when: ansible_facts.os_family == 'Darwin'

    - name: "[Debian/Ubuntu]"
      ansible.builtin.apt:
        name:
          - poppler-utils # Pdf utils
          - tesseract-ocr
          - tesseract-ocr-deu
          - ocrmypdf # NOTE: Based on tesseract (and its lang packs -> e.g., `ocrmypdf -l eng+deu …`)
        state: present
      when: ansible_facts.os_family == 'Debian'

    # USAGE: `ocrmypdf -l eng --plugin ocrmypdf_appleocr input.pdf output.pdf`
    - name: "[Darwin] Install ocrmypdf" # NOTE: There's also a homebrew package, but it's hard 2 install the appleocr plugin
      block:
        - name: Install package
          community.general.pipx:
            name: ocrmypdf
            state: latest
            install_deps: true
            executable: pipx
        - name: Inject package
          community.general.pipx:
            name: ocrmypdf
            state: inject
            inject_packages:
              - ocrmypdf-appleocr
            executable: pipx
      when: ansible_facts.os_family == 'Darwin'

    - name: "[Darwin / Debian/Ubuntu]"
      ansible.builtin.package:
        name:
          - pandoc # Converts b/w doc formats
          - aspell
          - ispell
          - hunspell
          #- pdfgrep
          - qpdf # USE CASE: Rmv pdf password  (also dep of ocrmypdf)
          - ghostscript # Rasterization/rendering of pdf/postscript  (also dep of ocrmypdf)
          - img2pdf

    - name: "[Darwin] Install homebrew packages" # TODO: Add flatpak counterparts 4 linux & check whether VM
      community.general.homebrew_cask:
        name: "{{ homebrew_cask }}"
        state: latest
      with_items:
        # Office
        - drawio
        - slidepilot
      loop_control:
        loop_var: homebrew_cask
      when: ansible_facts.os_family == 'Darwin'
  become: "{{ package_manager_become }}"

- name: Install internet related stuff
  block:
    - name: "[Darwin] Install homebrew packages"
      community.general.homebrew_cask:
        name: "{{ homebrew_cask }}"
        state: latest
      with_items:
        # Internet/Browsers
        - brave-browser
        - tor-browser
      loop_control:
        loop_var: homebrew_cask
      become: false
      when: ansible_facts.os_family == 'Darwin'

    - name: "[Debian/Ubuntu] ~~Install flatpak packages~~" # TODO: Add mac counterparts & check whether VM
      ## Too buggy (https://github.com/flathub/com.brave.Browser/issues?q=is%3Aopen+is%3Aissue), hence we use the native package
      #community.general.flatpak:
      #  name:
      #    - com.brave.Browser
      #  state: present
      block:
        - name: Brave - Add apt signing key & repo
          ansible.builtin.deb822_repository:
            name: brave-browser-release
            uris: https://brave-browser-apt-release.s3.brave.com/
            suites: stable
            components: main
            signed_by: https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg
          register: brave_repo_added
        - name: Brave - Update apt cache
          ansible.builtin.apt:
            update_cache: true
          when: brave_repo_added.changed == True
        - name: Brave - Install it
          ansible.builtin.package:
            name: brave-browser
      become: true
      when: ansible_facts.os_family != 'Darwin'

- name: Install security related stuff
  block:
    - name: "[Darwin] Install homebrew packages"
      community.general.homebrew_cask:
        name: "{{ homebrew_cask }}"
        state: latest
      with_items:
        # Security
        - dhs
        - knockknock
        - suspicious-package
        - taskexplorer
        - whatsyoursign
      loop_control:
        loop_var: homebrew_cask
      become: false
      when: ansible_facts.os_family == 'Darwin'

- name: Install archiving related stuff
  block:
    - name: "[Darwin] Install homebrew packages" # TODO: Add flatpak counterparts 4 linux & check whether VM
      community.general.homebrew_cask:
        name: "{{ homebrew_cask }}"
        state: latest
      with_items:
        # Package
        - keka
        - pacifist
      loop_control:
        loop_var: homebrew_cask
      become: false
      when: ansible_facts.os_family == 'Darwin'
