# {{ ansible_managed }}

version: "3.7"

networks:
  {{ docker_default_network }}:
    external: true

services:
  {{ container_name }}:
    image: haugene/transmission-openvpn
    restart: "{{ transmission_restart_policy }}"
    container_name: {{ container_name }}

    cap_add:
      - NET_ADMIN

    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0

    dns:
      - 1.1.1.1
      - 1.0.0.1

    networks:
      - {{ docker_default_network }}

    devices:
      - /dev/net/tun

    volumes:
      - /etc/localtime:/etc/localtime:ro
{% if transmission_vpn_file is defined %}
      - {{ transmission_vpn_file }}:/etc/openvpn/custom/default.ovpn
{% endif %}
      - {{ transmission_storage_path }}/:/data
      - ./script-torrent_done:/scripts/custom/script-torrent_done

{% if not container_enable_logging %}
    logging:
      driver: none
{% endif %}

    # --  See: https://hub.docker.com/r/haugene/transmission-openvpn/dockerfile  --
    environment:
      - PUID={{ user_uid }}
      - PGID={{ docker_gid }}

      - TZ={{ timezone }}

      - CREATE_TUN_DEVICE=true

      - OPENVPN_PROVIDER={{ 'CUSTOM' if transmission_vpn_file is defined else openvpn_provider }}
      - OPENVPN_USERNAME={{ 'XXX' if transmission_vpn_file is defined else openvpn_username }}
      - OPENVPN_PASSWORD={{ 'XXX' if transmission_vpn_file is defined else openvpn_password }}

      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60

      - LOCAL_NETWORK={{ transmission_local_network }}

      - TRANSMISSION_WEB_UI={{ transmission_web_ui }}

      - TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true
      - TRANSMISSION_RPC_USERNAME={{ transmission_web_username }}
      - TRANSMISSION_RPC_PASSWORD={{ transmission_web_password }}

      - TRANSMISSION_RATIO_LIMIT_ENABLED=true
      - TRANSMISSION_RATIO_LIMIT=1
      - TRANSMISSION_BLOCKLIST_ENABLED=true
      - TRANSMISSION_BLOCKLIST_URL={{ transmission_peers_blocklist }}
      - TRANSMISSION_DOWNLOAD_QUEUE_SIZE={{ transmission_max_parallel_downloads }}
      - TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED=false

      # -  Postprocess  (currently only sending mail)  -
      - TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED=true
      - TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME=/scripts/custom/script-torrent_done

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.services.{{ container_name }}_service.loadbalancer.server.port=9091
      - traefik.http.routers.{{ container_name }}_router.rule=Host(`{{ container_name }}.{{ domainname }}`)
