#!/usr/bin/env bash

# {{ ansible_managed }}


{% if notifications_mail_config is defined %}
# ---  Send mail  ---
# Create mail msg
TMP_MAILFILE=$(mktemp -t transmission.XXXXXXXXXX)

cat <<- EOF > "$TMP_MAILFILE"
From: "T_BT" <{{ notifications_mail_config.smtp_username }}>
To: "T_BT User" <{{ notifications_mail_config.system_admin_mail }}>
Subject: Finished job

Finished BT '{{ '$TR_TORRENT_NAME' if not transmission_notifications_hide_filename else '$(echo $TR_TORRENT_NAME | sed \'s/[^ ]/x/g\')' }}' on $TR_TIME_LOCALTIME.
EOF

# Semd mail & cleanup
OUTPUT=$(curl \
  smtp://{{ notifications_mail_config.smtp_host }}:{{ notifications_mail_config.smtp_port }} --ssl \
  --user "{{ notifications_mail_config.smtp_username }}:{{ notifications_mail_config.smtp_password }}" \
  --mail-from "{{ notifications_mail_config.smtp_username }}" \
  --mail-rcpt "{{ notifications_mail_config.system_admin_mail }}" \
  --upload-file "$TMP_MAILFILE" \
  -sS    2>&1 >/dev/null)

if [ $? -ne 0 ]; then
    echo "Failed sending mail   ($OUTPUT)"
    exit 1
fi

rm "$TMP_MAILFILE"
{% endif %}


exit 0
