Unattended-Upgrade::MinimalSteps "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";

{% if autoupdate_reboot_enabled %}
Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-Time "{{ autoupdate_reboot_time |d('04:00', true) }}";                 // 24H format
{% else %}
Unattended-Upgrade::Automatic-Reboot "false";
{% endif %}

Unattended-Upgrade::InstallOnShutdown "false";
Unattended-Upgrade::MailOnlyOnError "true";

// See `apt-cache policy` for origins
Unattended-Upgrade::Origins-Pattern {
{% if ansible_facts.distribution == 'Debian' %}
        // --  Debian origins  --
        "origin=Debian,codename=${distro_codename},label=Debian";
        "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
        //"origin=Debian,codename=${distro_codename}-updates";
        "origin=Debian Backports,codename=${distro_codename}-backports,label=Debian Backports";
{% endif %}
        // --  Additional origins  --
        {{ autoupdate_additional_allowed_origins | indent(width=8) }}};

Unattended-Upgrade::Allowed-Origins {
{% if 'docker' in group_names %}
        "Docker:${distro_codename}";
{% endif %}};
